@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 80px;
  display: flex;
  margin-bottom: 64px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.login {
  padding-left: 36px;
}
.nav__container--left {
  display: flex;
}

.nav__link {
  margin: 16px;
  text-decoration: none;
  padding-right: 16px;
}

.nav__header {
  display: flex;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  padding: 20px;
}

.logo {
  width: 80px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

/*about*/

.container {
  display: flex;
  margin: 0 auto;
  padding: 16px;
}

.about__container {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
}

.about__picture {
  width: 60%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

.about__title {
  padding: 0 40px;
  margin-bottom: 20px;
  font-size: 32px;
  word-wrap: break-word;
}

.purple {
  color: rgb(100 21 255);
}

.about__para {
  padding: 0 40px;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.form-row input[type="email"] {
  flex: 1; /* This will make the input expand to fill the remaining space */
}

.container__email {
  display: inline-block;
  border: 2px solid rgba(128, 128, 128, 0.2);
  border-radius: 42px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.email-input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 42px;
  padding: 24px;
  font-size: 16px;
}

.submit-button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 42px;
  background-color: rgb(100, 21, 255);
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #333; /* Example background color on hover */
  /* Add any other hover styles as desired */
}

.about__h5 {
  padding: 12px 12px 0 32px;
}
.about__fortune {
  width: 90%;
  height: auto;
}

.trusted__customer {
  opacity: 30%;
}

.container__features {
  margin: 56px;
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.feature__head1 {
  padding-bottom: 24px;
  font-size: 16px;
}

.feature__head2 {
  font-size: 42px;
  padding-bottom: 24px;
}

.feature__para {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.feature__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 16px;
}

.feature__block {
  display: flex;
  flex: 0 0 calc(100% / 3); /* Adjust the number of elements per row by changing the denominator */
  /* Additional styles for the element */
  padding-bottom: 24px;
}

.img__container {
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.feature__img {
  width: 64px;
  height: 64px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 100%;
}

.feature__description {
  max-width: 160px;
}

.feature__label {
  padding-bottom: 16px;
  font-size: 22px;
}

.text__container {
  padding: 8px 16px;
}

.quality__work--container {
  padding-top: 240px;
  display: flex;
}

.quality__text {
  padding-left: 64px;
  width: 60%;
  padding-right: 24px;
}

.quality__header5 {
  padding-bottom: 20px;
  font-size: 16px;
}

.quality__header {
  font-size: 36px;
  padding-bottom: 20px;
}

.quality__button {
  margin-top: 24px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 42px;
  background-color: rgb(100, 21, 255);
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.quality__image {
  width: 100%;
  height: 100%;
  max-height: 85vh;
  max-width: 85vh;
  margin-right: 64px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.steps__container{
  display: flex;
}