@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


p{
  opacity: .5;
}
nav {
  height: 80px;
  display: flex;
  margin-bottom: 64px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.login {
  padding-left: 36px;
}
.nav__container--left {
  display: flex;
}

.nav__link {
  margin: 16px;
  text-decoration: none;
  padding-right: 16px;
}

.nav__header {
  display: flex;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  padding: 20px;
}

.logo {
  width: 80px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

/*about*/

.container {
  display: flex;
  margin: 0 auto;
  padding: 16px;
}

.about__container {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
}

.about__picture {
  width: 60%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

.about__title {
  padding: 0 40px;
  margin-bottom: 20px;
  font-size: 32px;
  word-wrap: break-word;
}

.purple {
  color: rgb(100 21 255);
}

.about__para {
  padding: 0 40px;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.form-row input[type="email"] {
  flex: 1; /* This will make the input expand to fill the remaining space */
}

.container__email {
  display: inline-block;
  border: 2px solid rgba(128, 128, 128, 0.2);
  border-radius: 42px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.email-input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 42px;
  padding: 24px;
  font-size: 16px;
}

.submit-button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 42px;
  background-color: rgb(100, 21, 255);
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #333; /* Example background color on hover */
  /* Add any other hover styles as desired */
}

.about__h5 {
  padding: 12px 12px 0 32px;
}
.about__fortune {
  width: 90%;
  height: auto;
}

.trusted__customer {
  opacity: 30%;
}

.container__features {
  margin: 56px;
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.feature__head1 {
  padding-bottom: 24px;
  font-size: 16px;
}

.feature__head2 {
  font-size: 42px;
  padding-bottom: 24px;
}

.feature__para {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.feature__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 36px 0  12px 48px;
}

.feature__block {
  display: flex;
  flex: 0 0 calc(100% / 3); /* Adjust the number of elements per row by changing the denominator */
  /* Additional styles for the element */
  justify-content: center;
  padding-bottom: 32px;

}

.img__container {
 padding: 10px 10px 10px 10px;
}

.feature__img {
  width: 64px;
  height: 64px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 100%;
}

.feature__description {
  max-width: 160px;
  margin-left: 0;
}

.feature__label {
  padding-bottom: 16px;
  font-size: 22px;
}

.text__container {
  padding-left: 8px;
}

.quality__work--container {
  padding-top: 240px;
  display: flex;
}

.quality__text {
  padding-left: 64px;
  width: 60%;
  padding-right: 24px;
}

.quality__header5 {
  padding-bottom: 20px;
  font-size: 16px;
}

.quality__header {
  font-size: 36px;
  padding-bottom: 20px;
}

.quality__button {
  margin-top: 24px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 42px;
  background-color: rgb(100, 21, 255);
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.quality__image {
  width: 100%;
  height: 100%;
  max-height: 85vh;
  max-width: 85vh;
  margin-right: 64px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

/*STEPS*/

.steps__container{
  margin-top: 160px;
  display: flex;
  justify-content: center;
  
  margin-left: 48px;
  

}

.img__steps{
  margin-right: 16px;
}
.step__text{
  margin-left: 16px;
  padding-bottom: 16px;

}

.step__number {
  display: flex;
  margin-right: 48px; /* Adjust the margin as needed */
  padding-right: 48px;
  padding-top: 24px;
}

.numbers {
  font-size: 32px; /* Adjust the font size as needed */
  opacity: 0.25;
}

.steps__description{
  padding-top: 4px;
  padding-left: 16px;
}
.steps__title{
  padding-bottom: 16px;
}

.img__step{
margin-top: 48px;  
max-width: 100%;
height: auto;
}

.steps__h5{
  padding-bottom: 12px;
}

.steps__h1{
  font-size: 36px;
}

.steps__para{
  opacity: .5;
  width: 360px;
  
}

/*values*/

.values__container{
  display: flex;
  align-items: flex-start;
  margin-top: 160px;
  margin-left: 48px;
}

.values__text__container{
  flex: 2;
  max-width: 50%;
  flex-direction: column;

}


.values__promise__container{
  display: flex;
  padding-bottom: 24px;
}

.values__promise__header{
  display: flex;  
}

.values__image__container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.values__image{
  max-width: 90%;
  height: auto;
  width: auto;
  max-height: 80%;
}

.values__title{
  padding-bottom: 16px;
}

.values__heading{
  padding-bottom: 16px;
  font-size: 36px;
}

.values__promise{
  padding-right: 12px;
}

.values__description{
  padding-bottom: 24px;
}

.values__promise__heading{
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values__logo1, .values__logo2 {
  width: 36px; 
  height: 36px; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values__logo1 {
  background-color: rgba(17, 170, 76, 0.637);
}

.values__logo2 {
  background-color: rgba(236, 73, 73, 0.747);
}


.values__logo1{
  
  background-color: rgba(17, 170, 76, 0.637)
}

.values__logo2{
  background-color: rgba(236, 73, 73, 0.747)
}

/*pricing*/
#pricing {
  text-align: center;
}

.pricing__container {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.pricing__h3{
  padding-bottom: 24px;

}

.pricing__h1{
  font-size: 36px;
  padding-bottom: 24px;
}

.pricing__para{
  width: 60%
}
.pricing__text {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__banners {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Changed from align-items: flex-start; */
  gap: 16px;
}

.pricing__banner {
  border: 1.5px solid rgba(128, 128, 128, 0.4);
  border-radius: 12px;
  padding: 24px;
  flex: 1 1 300px;
  width: 300px;
  position: relative;
  height: 400%; /* Added this line */
}


.pricing__banner:not(:last-child) {
  margin-bottom: 16px;
}

.pricing__header {
  padding-top: 24px;
  font-size: 16px;
}

.pricing__monthly {
  padding-bottom: 0;
  margin-bottom: 0;
}

.pricing__price {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 40px;
}

.plan__description {
  width: 100%;
  padding: 16px 32px;
  margin-bottom: 16px;
  position: relative;
}

.plan__header {
  padding-top: 24px;
  padding-bottom: 12px;
  margin-top: 16px;
  font-size: 16px;
  white-space: nowrap; /* Prevent line break */

}


.plan__para {
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 14px;
}

.pricing__button--container {
  position: relative;
}

.pricing__button {
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 42px;
  font-weight: bold;
  font-size: 12px;
  color: white;
}

.plan__description::after {
  content: "";
  display: block;
  width: calc(120%);
  height: 1.5px;
  background-color: rgba(128, 128, 128, 0.4);
  position: absolute;
  top:100%;
  left: 50%;
  transform: translateX(-50%);
}





.pricing__banner:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.6);
  position: absolute;
  top: 42%;
  left: 0;
  transform: translateY(-50%);
}








.banner__one {
  width: 100%;
  height: 6px;
  background:linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%); /* Add your desired color here */
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}


.banner__three {
  width: 100%;
  height: 6px;
  background:linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}




.button__one{
  background:linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.button__two{
  background: white;
  color: blueviolet;
}

.button__three{
  background:linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.banner__two{
  background:linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  color: white;
}












